* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Squada One', cursive;
}

#character-search {
    margin: 20px 20px 20px 20px;
}
#character-div {
    max-width: 1200px;
    margin: 0 auto;
}