* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Squada One', cursive;
}
#body {
    background: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    
#character-search {
    margin: 20px 20px 20px 20px;
}
#character-div {
    max-width: 1200px;
    margin: 0 auto;
}